<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">
	<select id="empList" resultType="map">
		SELECT ENAME, COMM, substr(HIREDATE,1,10) HIREDATE, EMPNO, MGR, JOB, DEPTNO, SAL FROM EXAM_MANAGER.EMP
	</select>
</mapper>
